version: "3.9"
services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER} 
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD} 
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - ${POSTGRES_HOST_PORT}:${POSTGRES_PORT}
    volumes:
      - "./db/init:/docker-entrypoint-initdb.d"
      - "./db/data:/var/lib/postgresql/data/pgdata"
